@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
#root {
    margin: 0;
}

.App {
    text-align: center;
    background-color: #041C3C;
    width: 100%;
    min-height: 95vh;
    margin: 0 auto;
    border: 0px;
    padding-top: 35px;
}

.App-header {
    width: 100%;
    max-width: 1376px;
    height: 56px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 56px;
    left: 32px;
}

.logo {
    margin-right: 167px;
}

.input-text {
    width: 100%;
    max-width: 724px;
    min-height: 56px;
    margin: auto;
    height: fill-available;
    border-radius: 8px;
    border: 0px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.16);
    flex: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 14px;
    color: #FFFFFF;
    opacity: 0.64;
    transition: background-color 0.2s;
}

.input-text:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #FFFFFF;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFFFFF;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

.info-user {
    width: 100%;
    max-width: 82px;
    height: fill-available;
    margin-left: 206px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.info-user:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.info-user img {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px 0px 0px;
}

.info-user span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.app-body {
    width: 100%;
    max-width: 1376px;
    margin: 40px auto 40px auto;
    display: flex;
}

.app-menu {
    width: 100%;
    max-width: 200px;
    margin-right: 113px;
}

.menu-title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: initial;
}

ul {
    padding: 0px;
}

li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 16px;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 16px 8px 8px 16px;
    transition: background-color 0.2s;
}

a:hover {
    background-color: rgba(80, 129, 251, 0.16);
}

a:active {
    border: 4px solid rgba(80, 129, 251, 0.24);
}

a:focus {
    background-color: rgba(80, 129, 251, 0.24);
}

.menu-icon {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

#editor-icon {
    background-color: #5081FB;
}

#comunity-icon {
    background: #5081FB29;
}

.app-content {
    width: 100%;
    max-width: 752px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.codeForm {
    width: 100%;
    max-width: 752px;
    height: 366px;
    border-radius: 8px;
    background-color: #6BD1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.applyButton {
    width: 100%;
    max-width: 752px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background-color: rgba(80, 129, 251, 0.08);
    margin-top: 32px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.2s;
}

.applyButton:hover {
    background-color: rgba(80, 129, 251, 0.16);
}

.applyButton:active {
    border: 4px solid rgba(80, 129, 251, 0.24);
}

.applyButton:focus {
    background-color: rgba(80, 129, 251, 0.24);
}

.mac_buttons {
    width: 100%;
    max-width: 52px;
    height: 12px;
    position: absolute;
    left: 48px;
    top: 48px;
    display: flex;
    justify-content: space-around;
    border: none;
}

.circle {
    width: 100%;
    max-width: 12px;
    height: 12px;
    border-radius: 25px;
    border: none;
    background-color: #FFBD2E;
}

.code {
    width: 100%;
    max-width: 656px;
    height: 234px;
    border-radius: 8px;
    border: 0px;
    background-color: black;
    color: #FFFFFF;
    resize: none;
    padding: 52px 16px 16px 16px;
    position: relative;
}

.app-form {
    width: 100%;
    max-width: 272px;
    margin-left: 40px;
}

#project-name {
    width: 244px;
    height: 56px;
    margin-bottom: 16px;
}

#project-description {
    width: 242px;
    margin-bottom: 40px;
    height: 80px;
    padding: 16px 14px;
    resize: none;
}

select option {
    color: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: initial;
    margin: 0px;
}

#color-pick {
    background-color: #041C3C;
    padding: 0px;
    width: 100%;
    max-width: 272px;
    height: 40px;
    margin: 16px 0px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    text-decoration-line: none;
    outline: none;
    color: blue;
}

.button {
    width: 100%;
    max-width: 272px;
    height: 56px;
    background: #5081FB;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #051D3B;
    border: none;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #7BA4FC;
}

.button:active {
    border: 4px solid rgba(80, 129, 251, 0.72);
}

.button:focus {
    background-color: #96B9FD;
}